@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    
    color: #8A8A8A;
    font-weight: 600;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    /* position: relative; */
    background-image: url(/images/bgblue.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    
    
    
}

.container{ max-width:80% !important;}


h1{
    color: black;
    font-weight: 600;
}

h2{
    color: black;
    font-weight: 550;
    font-family: 'Roboto' sans-serif;
}

.btn {
    text-transform: unset !important;
  }

.topside{
    /* height: 100vh; */
}




.navbar, .card { box-shadow: none !important;
font-weight: 600; } 
.btn { box-shadow: none !important; }

.transparent {
    background-color: transparent;
}

nav li{
    margin-right: 1.3rem;
    
}
a{
    color: white;
    
}

.nav-item.active {
    color: black !important;
}

.nav-item.active:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 ; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    padding: 0;/* This creates some space between the element and the border. */
    border-bottom: 3px solid #FFBB00; /* This creates the border. Replace black with whatever color you want. */
}

.nav-item.active .nav-link{
    color:#FFBB00 !important;
}

.navbar-toggler-icon i{
    color: #FFBB00;
    font-size: 2rem;
}


.btn{
    border: 2px solid white;
    border-radius: 10px;
}

.btn-nav {
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    
    
}.btn-nav {
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    
    
}

.card h3 {
    font-size: 3rem !important;
    font-weight: 800 !important;
}

.content{
    width: 100%;
}

.aboutus h1{
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
}

.featsdiv{
    margin: 0 !important;
    padding: 0 !important;
}

.feats{
    display: inline;
    color: rgb(255, 187, 0);
    background-color: rgb(255, 187, 0,0.2);
    border-radius: 5px;
    height: 1.5rem;
}

.download{
    background-image: url("/images/bg2.png");
    
}

.downloads{
    margin-top: 3rem;
}

.ec-snurra img{
    padding: 2rem;
}

.search{
    color: black;
}


.features .icons img{
    width: 42px;
    height: 42px;
}

.feats h1 {
    color: black;
}

.text h3 {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.text p{
    font-size: .8em;
}
.appstats{
    background-image: url("/images/map.png");
    height: 50vh;
}

.counter{
    margin-right: 2rem;
    padding: 2rem;
    
}

.counter span {
    font-size: 2rem;
    font-weight: 800;
}
.download{
    overflow: hidden;
}

.download h1{
    color: white;
}

.download p {
    color: white;
    font-weight: 500;
    font-size: .8em;
    line-height: 200%;
}
.animationbot img{
    position: relative;
    bottom: -150px;
    
}

.contactus{
    /* height: 10vh !important; */
}

input {
    /* outline: none !important; */
    border: none !important;
    text-decoration: none;
    background-color: #FBFBFB !important;
    color: #8A8A8A !important;
    
}


textarea {
    resize: none;
    border: none !important;
    background-color: #FBFBFB !important;
    color: #8A8A8A !important;
    font-weight: 500;
    
}

.btn-info {
    background-color: #3096FE !important;
    padding: 1rem 4rem !important;
    font-weight: 600;
}



footer {
    background-image: url(/images/bgfoot.png);
}

.socials ul {
    list-style: none;
}

.socials ul li i{
    padding: .5em .5em;
    border: none;
    border-radius: 30%;
    color: white;
    
  
}
.socials ul li i:hover{
    background-color: #62aaf1;
  
}

@media (max-width: 1024px) { 
    .container {
        max-width: 90% !important;
        margin-top: 3rem;
    }

    #bakis{
        background-image: url(/images/screens.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
    }

    .googles{
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

     #showcase{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ec-snurra{
        padding-top: 2rem;
    }

    .ezdownloads {
        display: flex;
        justify-content: center;
    } 
 }

 @media (max-width: 768px){
     .topside{
         height: 80vh;
     }
     .card{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .counters {
         max-width: 80% !important;
         display: flex;
         flex-wrap: wrap;
     }

     .googles img, .ezdownloads img {
        height: auto;
        width: 40%;
    }
 }

 /* @media (max-height: 360px) and (min-width: 740px) {
     html,body {
         font-size: 12px;
         
     }
     h1{
         /* color: #FBFBFB; 
     }

     /* .ec-snurra{ */
         /* display: none; */
     /* } */

    
  
 @media (max-width: 736px){
    .topside{
        height: 80vh;
    }
    .counters {
        display: flex;
        flex-wrap: wrap;
    }
}



 @media (max-width: 414px){
     html, body {
         font-size: 11px;
     }
     .topside{
         height: 100vh;
         background-position: left !important;
     }

     .ezdownloads{
         display: block;
     }
     .counters {
         padding: 0;
        max-width: 80% !important;
        display: flex;
        flex-wrap: wrap;
    }
    #appz{
        height: 10vh !important;
    }

    .googles img, .ezdownloads img {
        height: auto;
        width: 40%;
    }
 }

 @media (max-width: 375px){
     html,body {
         font-size: 11px;
     }
    .counters {
        /* padding: 0; */
        max-width: 100% !important;
        display: flex;
        flex-wrap: wrap;
   }
   .googles img, .ezdownloads img {
    height: auto;
    width: 40%;
}
 }

 @media (max-width: 320px){
    html,body {
        font-size: 10px;
    }
  
   .counters {
       /* padding: 0; */
       max-width: 100% !important;
       display: flex;
       flex-wrap: wrap;
  }
  .googles img, .ezdownloads img {
    height: auto;
    width: 50%;
}

  

}