@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Ultra&display=swap');
.container {
  width: 80%;
  position: relative;
}

.todo {
  cursor: pointer;
}
.todo:active {
  box-shadow: none !important;
}

form {
  position: relative;
}
#small {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.done {
  /* background-color: rgba(255, 255, 255, 0.3); */
  color: grey;
  /* text-decoration: line-through; */
}

.done p {
  /* text-decoration: line-through; */
}

#delete {
  color: red;
  text-decoration: none;
  /* opacity: 0.9; */
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(105, 103, 103, 0.75);
}

.holder {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20%;
  left: 5%;
  /* border: 2px solid black !important; */
  color: rgb(150, 19, 19);
  font-size: 2.5rem;
  overflow: hidden;
  font-family: 'Ultra', serif;
  letter-spacing: 10px;
  text-shadow: 2px 2px 3px rgba(105, 103, 103, 0.75);
}
