:root{
    --background:#F7F7F7;
    --background-dark:#163C70;
    --text:#626262;
    --title:#363636;
    --placehold1:#DEDEDE;
    --placehold2:#BFBFBF;
    --green:#25E6C8;
    --blue:#2BAAEC;
    --border: #D2D2D2;
    --footer:#F3FBFF;

}
*{

}

html, body{
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    /* color: var(--text); */
}
li{
    display: flex;
}

.header{
    border-bottom: 1px solid gray;
    background-color: #F7F7F7;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: .5rem;
    height: 1.5rem;
    padding-bottom: 1rem;
}

.header-span{
    font-family: Roboto;
    font-size: 16px;
    color: var(--text);
    margin-right: auto;
    margin-left: 12%;
    padding-left: 1rem;
    margin-top: auto;
}

.klocka{
    color: var(--blue);
    font-size: 1.2em;
    margin-right: 0.7rem;
}

.social{
    /* position: relative; */
    margin-right: 10%;
    margin-left: auto;
    /* padding-bottom: 1rem; */
    /* border: 1px solid black; */
    /* justify-content: center; */
    margin-top: 1rem;
}
.social li{
    color: var(--blue);
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    /* padding-bottom: 1rem; */
    /* margin-right: 10px; */
    
}

.social ul{
    display: flex;
    /* padding-bottom: 1.5rem; */
    
}
a{
    text-decoration: none;
    color: var(--text);
}
.icon:hover{
    color: var(--green);
}





.main-menu{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--title);
}

.navbar{
    /* padding: 1rem; */
    /* padding-top: ; */
    margin-right: 10%;
}

.navbar ul{
    color: var(--text);
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
}

.navbar li{
    font-family: roboto Slab;
    font-size: 18px;
    color: var(--title);
    padding: .5rem;
    margin: 1rem;
    font-weight: 500;
    

}

.logo{
    padding: 2rem;
    margin-left: 10%;
    margin-right: auto;
}


.place1{
    color: var(--text);
    background-color: var(--placehold1);
    display: flex;
    height: 40rem;
    padding-left: 10rem;
    padding-bottom: 3.5rem;
}
.ph1{
    height: auto;
    width: auto;
    background-color: var(--placehold1);
    color: #DEDEDE;
}
#jumbo{
    font-size: 3rem;
    font-family: roboto slab;
    background-color: var(--placehold1);
    color: var(--title);
}

#ptech{
    background-color: var(--placehold1);
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 36rem;
}

#btech{
    color: var(--background);
    background-color: var(--green);
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
}
#tech{
    margin: auto;
    background-color: var(--placehold1);
    width: 40rem;
}
.picture{
    margin-top: 1rem;
    height: 10rem;
    /* background-color: ; */
}
#picture{
    justify-content: center;
}

h3{
    font-weight: 500;
}

.blue{
    color: var(--blue);
}

.content{
    width: 90%;
    height: auto;
    display: border-box;  
    background-color: var(--background);
    justify-content: center;
    display: flex;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    
}
hr{
    color: var(--green);
    background-color: var(--green);
    height: 3px;
    border: none;
}
.info{
    font-size: 1.1rem;
    width: 40%;
    margin-left: 5rem;
    /* border: 1px solid black; */
   
}
#modern{
    font-family: roboto slab;
    font-weight: 400px;
    padding-top: 5rem;
    width: 70%;
    /* padding-left: .5rem; */
    font-size: 1.8rem;
    /* flex-basis: 20%; */
    margin-right: auto;
    margin-bottom: 0;
    /* text-align: center; */
    padding-bottom: 0;
    /* border: 1px solid black; */
    
}
.parags{
    margin-top: 0;
    border-top: 4px solid var(--green);
    padding-top: 1rem;
}

p{
    padding-top: .5rem;
}

.img2{
    width: 40%;
    margin-top: 1rem;
    /* margin-right: ; */
    /* margin-left: 0; */
    /* border: 1px solid black; */
}

.counter{
    line-height: .5rem;
    width: 30%;
    display: inline-block;
    font-size: 1.0rem;
    /* font-weight: 00px; */
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */
}
.counter p{
    /* display: block; */
    font-weight: 800px;
    font-family: roboto slab;
}
.counter p span{
    font-family: Roboto Slab;
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 0;
}
.wrapperb{
    background-color: #3faeeb;
}

footer{
    background-color: var(--blue);
    height: auto;
}