:root{
    --background:#F7F7F7;
    --background-dark:#163C70;
    --text:#626262;
    --title:#363636;
    --placehold1:#DEDEDE;
    --placehold2:#BFBFBF;
    --green:#25E6C8;
    --blue:#2BAAEC;
    --border: #D2D2D2;
    --footer:#F3FBFF;
    --white:#FFFFFF;

}
*{
    margin: 0;
}

h1 {
    font-family: Roboto Slab;
}

html, body{
    background-color: var(--background);
    font-family: Roboto;
    box-sizing: border-box;
    color: var(--text);
}
li{
    display: flex;
}

.header{
    border-bottom: 1px solid gray;
    background-color: #F7F7F7;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: .5rem;
    height: 1.5rem;
    padding-bottom: 1rem;
}

.header-span{
    font-family: Roboto;
    font-size: 16px;
    color: var(--text);
    margin-right: auto;
    margin-left: 12%;
    padding-left: 1rem;
    margin-top: auto;
}

.klocka{
    color: var(--blue);
    font-size: 1.2em;
    margin-right: 0.7rem;
}

.social{
    /* position: relative; */
    margin-right: 10%;
    margin-left: auto;
    /* padding-bottom: 1rem; */
    /* border: 1px solid black; */
    /* justify-content: center; */
    margin-top: 1rem;
}
.social li{
    color: var(--blue);
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    /* padding-bottom: 1rem; */
    /* margin-right: 10px; */
    
}

.social ul{
    display: flex;
    /* padding-bottom: 1.5rem; */
    
}
a{
    text-decoration: none;
    color: var(--title);
}
.icon:hover{
    color: var(--green);
}





.main-menu{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--title);
}

.navbar{
    /* padding: 1rem; */
    /* padding-top: ; */
    margin-right: 10%;
}

.navbar ul{
    color: var(--text);
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
}

.navbar li{
    font-family: roboto Slab;
    font-size: 18px;
    color: var(--title) !important;
    padding: .5rem;
    margin: 1rem;
    font-weight: 560;
    

}

.logo{
    padding: 2rem;
    margin-top: 10px;
    margin-left: 12%;
    margin-right: auto;
}


.place1{
    width: auto;
    color: var(--text);
    background-color: var(--placehold1);
    display: flex;
    height: 40rem;
    padding-left: 10%;
    padding-bottom: 3.5rem;
}
.ph1{
    height: auto;
    width: auto;
    background-color: var(--placehold1);
    color: #DEDEDE;
}
#tech{
    margin: auto;
    background-color: var(--placehold1);
    width: 40%;
}
#jumbo{
    height: auto;
    width: auto;
    font-size: 60px;
    font-weight: 570;
    font-family: roboto slab;
    background-color: var(--placehold1);
    color: var(--title);
}

#ptech{
    background-color: var(--placehold1);
    margin-top: 1.5rem;
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    width: 90%;
}

#btech{
    color: var(--background);
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    padding: 1.1rem 3.5rem;
    font-size: 18px;
    font-family: roboto;
    font-weight: bold;
    margin-top: 1.5rem;
}

.picture{
    margin-top: 1rem;
    height: 10rem;
    /* background-color: ; */
}
#picture{
    justify-content: center;
}

h3{
    font-weight: 500;
}

.blue{
    color: var(--blue);
}

.content{
    width: 90%;
    height: auto;
    display: border-box;  
    background-color: #FFFFFF;
    justify-content: center;
    display: flex;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    
}
hr{
    color: var(--green);
    background-color: var(--green);
    height: 3px;
    border: none;
}
.info{
    font-size: 1.1rem;
    width: 40%;
    margin-left: 5rem;
    /* border: 1px solid black; */
   
}
#modern{
    font-family: roboto slab;
    font-weight: 400px;
    padding-top: 5rem;
    width: 70%;
    /* padding-left: .5rem; */
    font-size: 1.8rem;
    /* flex-basis: 20%; */
    margin-right: auto;
    margin-bottom: 0;
    /* text-align: center; */
    padding-bottom: 0;
    /* border: 1px solid black; */
    
}
.parags{
    margin-top: 0;
    border-top: 4px solid var(--green);
    padding-top: 1rem;
}

p{
    padding-top: .5rem;
}

.img2{
    width: 40%;
    margin-top: 1rem;
    /* margin-right: ; */
    /* margin-left: 0; */
    /* border: 1px solid black; */
}

.counter{
    line-height: .5rem;
    width: 30%;
    display: inline-block;
    font-size: 1.0rem;
    /* font-weight: 00px; */
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */
}
.counter p{
    /* display: block; */
    font-weight: 800px;
    font-family: roboto slab;
}
.counter p span{
    font-family: Roboto Slab;
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 0;
}
.services{
    display: flex;
    /* border: 1px solid black; */
    padding: 11%;
    padding-top: 5%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services h1{
    width: 29%;
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 500;
    color: var(--title);
    border-bottom: 4px solid var(--green);
    padding: 1rem;
    align-self: center;
    margin-bottom: 5%;
}

.contain{
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 10%; */
    justify-content: space-evenly;
    /* padding: 2rem; */
}

.card  {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    /* font-family: Roboto; */
    background-color: #FFFFFF;
    display: flex;
    flex: 0 0 31%;
    height: 436px;
    width: 450px;
    /* padding:1rem; */
    margin-left: 1rem;
    margin-bottom: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
    
}

.card:hover{
    transition-delay: .3s;
    box-shadow: 5px 5px 30px rgba(98, 98, 98, .2);

}

.card h3{
    font-family: roboto slab;
    font-size: 22;
    color: var(--title);
    margin-top: 3rem;
    margin-bottom: 0;
}

.circle{
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #25E6C8;
    border-radius: 50%;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    background-color: var(--blue);
}

.text{
    display: flex;
    flex-direction: column;
    width: 54%;
    text-align: center;
}

.book{
    margin: 0;
    display: flex;
    height: 4rem;
    background-color: var(--blue);
    color: #FFFFFF;
    text-align: left;
    padding: 5%;
    justify-content: space-between;
}

.book h1{
    font-family: Roboto Slab;
    font-size: 30px;
    margin-left: 5%;
}
.bb{
    background-color: var(--background);
    color: var(--blue);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0 3rem;
    margin-right: 10%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e9fec;
    height: 4rem;
    text-align: center;
    margin-top: auto;
    color: var(--background);
}